.cursor-cross-point{
  cursor:url('../public/cross-point.png') 11 11 ,auto;
}
.cursor-cross-polygon{
  cursor:url('../public/cross-polygon.png') 11 11 ,auto;
}
.cursor-cross-line{
  cursor:url('../public/cross-line.png') 11 11 ,auto;
}
.cursor-cross-vector{
  cursor:url('../public/cross-vector.png') 11 11 ,auto;
}
.cursor-arrow-trash{
  cursor:url('../public/arrow-trash.png') ,auto;
}
